<!DOCTYPE html>
<html>
<head>
  <title>Team Member Management</title>
  <style>
    body {
    font-family: Arial, sans-serif;
  }

  header h1 {
    margin: 10px;
  }
  
  nav a {
    float: right;
    margin-top: 100px;
    margin-right: 40px;
    font-style: normal;
    text-decoration: none;
    color: blue;
    font-size: 40px;
    
  }
  
  main {
    padding: 20px; 
  }
 
  </style>
</head>
<body>
  <center>
  <nav>
    <a href="{% url 'add' %}">+</a>
</nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</center>
</body>
</html>
